body, h1, h2, h3, h4, p, ul, li, a {
    font-family: 'Palatino Linotype', 'Palatino', 'Book Antiqua', 'Georgia', serif;
    color: #FFFFFF; /* light color for text */
    margin: 0;
    padding: 0;
}

a {
    color: #f8c451;
    text-decoration: none;
}

.top-nav {
    position: fixed; /* Fix navigation at the top */
    top: 0;
    left: 0;
    width: 100%;
    background-color: unset; /* transparent background for the navigation bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.9); */
    z-index: 1000;
}

.logo-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative;
    top: 10px; 
    left: 20px;
}

.logo {
    filter: drop-shadow(#1D2731 0px 0px 8px);
    width: 100px;
    border-radius: 32px;
    margin-bottom: 5px; 
}

.logo-text {
    display: block; 
    color: #FFFFFF; 
    text-shadow: #1D2731 2px 2px 2px;
    font-size: 20px; 
    text-align: center; /
}

.github-icon {
    display: flex; /* Use flex to align icon */
    align-items: center; /* Align items vertically in center */
    font-size: 24px; /* Adjust size as necessary */
    position: absolute; /* Position absolutely */
    right: 20px; /* Right align the icon */
    top: 10px; /* Adjust top positioning as needed */
}

.github-icon .iconify {
    font-size: 100px; /* Make it the same size as logo */
    color: #FFFFFF; /* Set color */
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

#intro {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-direction: row;
    background-image: url('introbackground.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.intro-content {
    width: 30%; 
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.intro-content h1 {
    margin-bottom: 10vh; /* title and slogan - 10%*/
}

.intro-content .tagline {
    margin-bottom: 10vh; /* slogan and description - 10%*/
}

.intro-content .intro-text {
    margin-bottom: 10vh; /* description and after - 10%*/
}

.intro-image {
    width: 37.5%; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.intro-image img {
    width: 100%;
    height: auto; /*keep original ratio*/
}

h1 {
    color: #FFFFFF;
    text-shadow: #1D2731 7px 7px 7px;
    font-size: calc(5.3vw + 1em); /* dynamic adjustment */
}

p.tagline {
    color: #FFFFFF;
    text-shadow: #1D2731 4px 4px 4px;
    font-size: calc(1.5vw + 0.5em); 
}

.intro-text p {
    color: #FFFFFF;
    text-shadow: #1D2731 3px 3px 3px;
    font-size: calc(0.8vw + 0.5em); 
}

section#features {
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title {
    text-align: center;
    text-shadow: #1D2731 4px 4px;
    color: #FFFFFF;
    font-size: 5em;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 30px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px; 
    width: 75%;
    max-width: 1400px; 
}

.feature-box {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s, z-index 0s 0.3s;
    cursor: pointer;
    z-index: 1;
}

.feature-box:hover {
    transform: scale(1.125);
    z-index: 2;
}

.feature-box h3 {
    color: #3fb2ff;
    text-shadow: #000000 3px 3px 3px; 
    font-size: 3.25em;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
    z-index: 2;
}

.feature-descriptions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9); /* make the white text more readable*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 3;
    padding: 10px;
    text-align: center;
}

.feature-box:hover .feature-descriptions {
    opacity: 1;
}

.feature-description {
    color: #FFFFFF;
    margin: 5px 0;
    font-size: 1.75em;
}

@media (max-width: 1000px) {
    .features-grid {
        width: 100%;
        grid-template-columns: 1fr;
    }
}

#demo h2 {
    font-size: 5em;
    text-align: center; 
    text-shadow: #FFFFFF 4px 4px;
    color: #1D2731; 
}
#demo video {
    display: block; 
    margin: 0 auto; 
    max-width: 20%; 
}

.footer-section h4 {
    font-size: 1.5em; 
    margin-bottom: 1em; 
}

.footer-section {
    line-height: 2; 
}

/* Specifically target paragraphs in the Contact Us section for double spacing */
.footer-section:first-child p {
    margin-bottom: 20px; 
}

.social-icons {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 1.5vh 0; /* Padding for visual spacing */
    background-color: #1D2731;
    font-size: 2.75vh;
}

.social-icons a {
    margin: 0 1.5vh;
    color: #f8c451;
}

footer#main-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
}

footer .footer-section, .social-icons {
    flex: 1;
    line-height: 1.5;
}

footer .footer-section h4 {
    color: #FFFFFF;
    font-size: 1.75em;
}

footer .footer-section ul {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

footer .footer-section ul li {
    line-height: 2;
}

.footer-bottom {
    text-align: center;
    background: #0B3C5D; /* Dark blue */
    padding: 10px;
}